body{
  background-color: hotpink;
}


.line-path{

  fill: none;
  stroke: black;
  stroke-width: 2;
  padding: 5;
  stroke-linejoin: round;
}

.line-path:hover{

  stroke:steelblue
}
